@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


#root{
  max-width: 100%; 
    margin: 0 ;
     padding: 0rem; 
     text-align: center;
   

}

body{

  background-color: white
}