@import "tailwindcss/base";

@import "tailwindcss/components";


@import "tailwindcss/utilities";


#root{
  max-width: 100vw; 
    margin: 0 ;
     padding: 0;
     text-align: center;
     overflow-y: hidden;
     overflow-x: hidden;
   

}

body{

  background-color: white
}

